<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang = 'en' ng-app = 'happy_cup'>
	<!--<![endif]-->

	<head>
		 <!-- Meta Info -->
		<meta charset="utf-8">
        <title>Happy Cup Coffee Company - Portland, OR - Coffee Roasted by People with Potential</title>
        <meta name="description" content="Happy Cup Coffee Company - Portland, OR - Coffee Roasted by People with Potential">
        <meta name="author" content="happycup.com">

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="resources/images/HC_favicon_16x16.png">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="resources/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Fontello CSS -->
        <link href="resources/fonts/fontello/css/fontello.css" rel="stylesheet">

        <!-- Plugins -->
        <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
        <link href="css/animations.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="plugins/hover/hover-min.css" rel="stylesheet"> 

        <!--Pageloader -->
        <link href = 'css/custom_pageloader.css' rel = 'stylesheet'>     
        
        <!-- The Project's core CSS file -->
        <link href="css/style.css" rel="stylesheet" >
        <!-- The Project's Typography CSS file, includes used fonts -->
        <!-- Used font for body: Roboto -->
        <!-- Used font for headings: Raleway -->
        <link href="css/typography-default.css" rel="stylesheet" >
        <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
        <link href="css/skins/brown.css" rel="stylesheet">
        
        <!-- Base JS -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="plugins/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        
        <!-- Custom css --> 
        <link href="css/custom.css" rel="stylesheet">

        <!-- Plug Ins -->
        <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>

        <!-- Angular App -->
		<script type = 'text/javascript' src="js/bower_components/angular/angular.js"></script>
	    <script type = 'text/javascript' src="js/bower_components/angular-route/angular-route.js"></script>
	    <script type = 'text/javascript' src="js/bower_components/angular-filter/dist/angular-filter.min.js"></script>
	    <script src="js/bower_components/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript">
		var happy_cup = angular.module('happy_cup', ['ngRoute', 'vAccordion', 'ngAnimate', 'angular.filter', 'ngMessages']);
		
			//Multiselect plug in
			// $(document).ready(function() {
		        // $('#three_coffee_select').multiselect({
		            // onChange: function(option, checked) {
		            //     // Get selected options.
		            //     var selectedOptions = $('#three_coffee_select:selected');
		            //     console.log(selectedOptions);
		 
		            //     if (selectedOptions.length >= 3) {
		            //         // Disable all other checkboxes.
		            //         var nonSelectedOptions = $('#three_coffee_select option').filter(function() {
		            //             return !$(this).is(':selected');
		            //         });
		 
		            //         nonSelectedOptions.each(function() {
		            //             var input = $('input[value="' + $(this).val() + '"]');
		            //             input.prop('disabled', true);
		            //             input.parent('li').addClass('disabled');
		            //         });
		            //     }
		            //     else {
		            //         // Enable all checkboxes.
		            //         $('#three_coffee_select option').each(function() {
		            //             var input = $('input[value="' + $(this).val() + '"]');
		            //             input.prop('disabled', false);
		            //             input.parent('li').addClass('disabled');
		            //         });
		            //     }
		            // }
		        // });
		    // });
		</script>
		<!-- v-accordion scripts-->
		<link href="js/bower_components/v-accordion/dist/v-accordion.css" rel="stylesheet" />
		<script src="js/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="js/bower_components/v-accordion/dist/v-accordion.min.js"></script>
		<!-- v-accordion scripts end -->
		<script type = 'text/javascript' src = 'js/Angular/config/routes.js'></script>

		<!-- angular controllers -->
		<script type = 'text/javascript' src = 'js/Angular/controllers/shop_controller.js'></script>
		<script type = "text/javascript" src = 'js/Angular/controllers/cart_controller.js'></script>
		<script type = 'text/javascript' src = 'js/Angular/controllers/global_controller.js'></script>
		<script type = "text/javascript" src = 'js/Angular/controllers/locations_controller.js'></script>
		<script type = "text/javascript" src = 'js/Angular/controllers/checkout_controller.js'></script>
		<script type = "text/javascript" src = 'js/Angular/controllers/blog_controller.js'></script>
		<script type = "text/javascript" src = 'js/Angular/controllers/blogpost_controller.js'></script>
		<!-- end angular controllers -->

		<!-- angular factories -->
		<script type = "text/javascript" src = 'js/Angular/factories/content_factory.js'></script>
		<script type = "text/javascript" src = 'js/Angular/factories/user_factory.js'></script>
		<script type = "text/javascript" src = 'js/Angular/factories/shop_factory.js'></script>
	</head>

	<body style = 'background-color: #F0EBD2' class="no-trans page-loader-2" ng-controller='global_controller'>
		<!-- 
		<div ng-if = 'pageLoading' class="la-fire">
			<div></div>
			<div></div>
			<div></div>
		</div>
		-->

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div ng-if="!pageLoading" class="page-wrapper" >
			<!-- header-container start -->
			<div class="header-container">

				<div class="header-top dark visible-xs">
						<div class="container">
							<div class="row">
								<div class="col-xs-3 col-sm-6 col-md-9">
									<!-- header-top-first start -->
									<!-- ================ -->
									
									<!-- header-top-first end -->
								</div>
								<div class="col-xs-9 col-sm-6 col-md-3">

									<!-- header-top-second start -->
									<!-- ================ -->
									<div id="header-top-second"  class="clearfix">
										<!-- header top dropdowns start -->
										<!-- ================ -->
										<div class="header-top-dropdown text-right">
											<div class="btn-group" ng-if="currentUser === 'None'">
												<a data-toggle="modal" data-target="#user-reg-modal" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Up</a>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#user-login-modal" ng-if="currentUser === 'None'"><i class="fa fa-lock pr-10"></i> Login</button>
												<button type="button" class="btn btn-default btn-sm" ng-if="currentUser !== 'None'" ng-click="logout()"><i class="fa fa-unlock pr-10"></i> Logout</button>
											</div>
										</div>
										<!--  header top dropdowns end -->
									</div>
									<!-- header-top-second end -->
								</div>
							</div>
						</div>
					</div>
					<!-- header-top end -->
					
					<!-- header start -->
					<!-- classes:  -->
					<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
					<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
					<!-- "full-width": mandatory class for the full-width menu layout -->
					<!-- "centered": mandatory class for the centered logo layout -->
					<!-- ================ --> 
					<header class="header  fixed    clearfix" >
						<div id='user-reg-alert' class="alert alert-success text-center animate-show" role="alert" ng-if="userRegAlert">
	  					<h2>Welcome, [[currentUser.first_name]]! You have successfully logged in.</h2>
						</div>
						<div id='user-logout-alert' class="alert alert-info text-center animate-show" role="alert" ng-if="userLogoutAlert">
	  					<h3>[[userLogoutAlert]]</h3>
						</div>
						
						<div class="container" id="full-width-header">
							<div class="row">
								<div class="col-md-2 ">
									<!-- header-left start -->
									<!-- ================ -->
									<div class="header-left clearfix">
										
										<!-- logo -->
										<div id="logo" class="logo" ng-if="!pageLoading">
											<a href="#/" move-to-top><img id="logo_img" style = 'height: 125px;' ng-src="[[globalContent.headerLogo]]" alt="Happy Cup Coffee Company"></a>
										</div>

									</div>
									<!-- header-left end -->

								</div>
								<div class="col-md-10">
						
									<!-- header-right start -->
									<!-- ================ -->
									<div class="header-right clearfix pull-right">
										
									<!-- main-navigation start -->
									<!-- classes: -->
									<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
									<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
									<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
									<!-- ================ -->
									<div class="main-navigation  animated with-dropdown-buttons">

										<!-- navbar start -->
										<!-- ================ -->
										<nav class="navbar navbar-default" role="navigation">
											<div class="container-fluid">

												<!-- Toggle get grouped for better mobile display -->
												<div class="navbar-header">
													<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
														<span class="sr-only">Toggle navigation</span>
														<span class="icon-bar"></span>
														<span class="icon-bar"></span>
														<span class="icon-bar"></span>
													</button>
													
												</div>

												<!-- Collect the nav links, forms, and other content for toggling -->
												<div class="collapse navbar-collapse" id="navbar-collapse-1">
													<!-- main-menu -->
													<ul class="nav navbar-nav ">
														<li>
															<a href="#/" move-to-top ng-style="currentView === 'home' ? {'color' : '#914E38'} : null ">Home</a>
														</li>
														<li>
															<a href="#/about" move-to-top ng-style="currentView === 'about' ? {'color' : '#914E38'} : null">About Us</a>
														</li>
														<li>
															<a href="#/blog" move-to-top ng-style="currentView === 'blog' ? {'color' : '#914E38'} : null">News</a>
														</li>
														<li>
															<a href="#/locations" move-to-top ng-style="currentView === 'locations' ? {'color' : '#914E38'} : null">Where to Buy</a>
														</li>
														<li>
															<a href="#/cafe" move-to-top ng-style="currentView === 'cafe' ? {'color' : '#914E38'} : null">Cafe</a>
														</li>
														<li>
															<a href="#/contact" move-to-top ng-style="currentView === 'contact' ? {'color' : '#914E38'} : null">Contact</a>
														</li>
														<li class="visible-xs">
															<a href="#/cart" move-to-top ng-style="currentView === 'cart' ? {'color' : '#914E38'} : null">Cart - [[shoppingCart.totalItems]] items</a>
														</li>
														<li class="hidden-xs" ng-if="currentUser === 'None'">
															<a href="" data-toggle="modal" data-target="#user-reg-modal">Sign Up</a>
														</li>
														<li class="hidden-xs" ng-if="currentUser === 'None'">
															<a href="" data-toggle="modal" data-target="#user-login-modal">Login</a>
														</li>
														<li class="hidden-xs" ng-if="currentUser !== 'None'">
															<a href=""  ng-click="logout()">Logout</a>
														</li>
													</ul>
													<!-- main-menu end -->
													
													<!-- header dropdown buttons -->
													<div class="header-dropdown-buttons hidden-xs ">
														<div class="btn-group dropdown">

															<!-- Cart Counter -->
															<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" ng-style="currentView === 'cart' ? {'background-color' : '#69321f', 'color' : 'white'} : null"><i class="icon-basket-1"></i><span ng-if="currentView != 'cart' && shoppingCart.totalItems > 0" class="cart-count default-bg">[[shoppingCart.totalItems]]</span></button>
															<ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
																<li>
																	<table class="table table-hover">
																		<thead>
																			<tr>
																				<th class="quantity">QTY</th>
																				<th class="product">Product</th>
																				<th>Size</th>
																				<th class="amount">Subtotal</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr ng-if="shoppingCart.coffee.length">
																				<th colspan="4" class="text-center">Coffee</th>
																			</tr>
																			<tr ng-repeat="coffee in shoppingCart.coffee | orderBy: ['-qty','name']">
																				<td class="quantity">[[coffee.qty]] x</td>
																				<td class="product"><a href="shop-product.html">[[coffee.name]]</a><span class="small">[[coffee.roast]]</span></td>
																				<td>[[coffee.size.qty]]</td>
																				<td class="amount">$[[coffee.subtotal | number: 2 ]]</td>
																			</tr>
																			<tr ng-if="shoppingCart.merch.length">
																			<th colspan="4">Merchandise</th>
																			</tr>
																			<tr ng-repeat="merch in shoppingCart.merch | orderBy: ['-qty','name']">
																				<td class="quantity">[[merch.qty]] x</td>
																				<td class="product"><a href="shop-product.html">[[merch.name]]</a></td>
																				<td></td>
																				<td class="amount">$[[merch.subtotal | number: 2 ]]</td>
																			</tr>
																			<tr>
																				<td class="total-quantity" colspan="3">Total [[shoppingCart.totalItems]] Items</td>
																				<td class="total-amount">$[[shoppingCart.totalPrice | number : 2]]</td>
																			</tr>
																		</tbody>
																	</table>
																	<div class="panel-body text-right" ng-show="shoppingCart.totalItems">
																		<a href="#/cart" move-to-top class="btn btn-group btn-gray btn-sm" data-dismiss="dropdown">View Cart</a>
																		<a href="#/cart/checkout" move-to-top class="btn btn-group btn-gray btn-sm" data-dismiss="dropdown">Checkout</a>
																	</div>
																</li>
															</ul>
														</div>
													</div>
													<!-- header dropdown buttons end-->
													
												</div>

											</div>
										</nav>
										<!-- navbar end -->

									</div>
									<!-- main-navigation end -->
									</div>
									<!-- header-right end -->
						
								</div>
							</div>
						</div>
						
					</header>
					<!-- header end -->
				</div>
				<!-- header-container end -->
				<!-- User Registration Modal Start -->
			<div class="modal fade" id="user-reg-modal" tabindex="-1" role="dialog" aria-labelledby="user-reg-modalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" ng-click="resetForm(forms.userRegForm, 'userReg')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="user-reg-modalLabel">Sign Up</h4>
						</div>
						<div class="modal-body">
							<span class="text-danger small">* Required</span>
							<form class="form-horizontal" role="form" name="forms.userRegForm" novalidate ng-submit="registerUser()">
								<div class="form-group has-feedback" ng-class="{ 'has-error' : (forms.userRegForm.$submitted ||  forms.userRegForm.first_name.$touched) && forms.userRegForm.first_name.$invalid}">
									<label for="first_name" class="col-sm-3 control-label">First Name <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="first_name" id="inputName" placeholder="First Name" ng-model="userReg.first_name" required maxlength="24">
										<i class="fa fa-pencil form-control-feedback"></i>
										<div ng-messages="forms.userRegForm.first_name.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.first_name.$touched || forms.userRegForm.$submitted">
											<span ng-message="required">Please enter a value for this field.</span>
										</div>
									</div>

								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : (forms.userRegForm.$submitted || forms.userRegForm.last_name.$touched) && forms.userRegForm.last_name.$invalid}">
									<label for="last_name" class="col-sm-3 control-label">Last Name <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="last_name" id="inputLastName" placeholder="Last Name" ng-model="userReg.last_name" required maxlength="48">
										<i class="fa fa-pencil form-control-feedback"></i>
										<div ng-messages="forms.userRegForm.last_name.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.last_name.$touched || forms.userRegForm.$submitted">
											<span ng-message="required">Please enter a value for this field.</span>
										</div>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : (forms.userRegForm.$submitted || forms.userRegForm.username.$touched) && forms.userRegForm.username.$invalid}">
									<label for="username" class="col-sm-3 control-label">Username <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="username" id="inputUserName" placeholder="Username" ng-model="userReg.username" required maxlength="24">
										<i class="fa fa-user form-control-feedback"></i>
										<div ng-messages="forms.userRegForm.username.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.username.$touched || forms.userRegForm.$submitted">
											<span ng-message="required">Please enter a value for this field.</span>
										</div>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : (forms.userRegForm.$submitted || forms.userRegForm.reg_email.$touched) && forms.userRegForm.reg_email.$invalid}">
									<label for="email" class="col-sm-3 control-label">Email <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="email" class="form-control" name="reg_email" id="inputEmail" placeholder="Email" ng-model="userReg.email" required>
										<i class="fa fa-envelope form-control-feedback"></i>
										<div ng-messages="forms.userRegForm.reg_email.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.reg_email.$touched || forms.userRegForm.$submitted">
											<span ng-message="required">Please enter a value for this field.</span>
											<span ng-message="email">Please enter a valid email address.</span>
										</div>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : (forms.userRegForm.$submitted || forms.userRegForm.password.$touched) && forms.userRegForm.password.$invalid}">
									<label for="inputPassword" class="col-sm-3 control-label">Password <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" ng-model="userReg.password" required>
										<i class="fa fa-lock form-control-feedback"></i>
										<div ng-messages="forms.userRegForm.password.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.password.$touched || forms.userRegForm.$submitted">
											<span ng-message="required">Please enter a value for this field.</span>
										</div>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : (forms.userRegForm.$submitted || forms.userRegForm.confirmPassword.$touched) && forms.userRegForm.confirmPassword.$invalid}">
									<label for="confirmPassword" class="col-sm-3 control-label">Confirm PW <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="password" class="form-control" name="confirmPassword" id="inputConfirmPassword" placeholder="Confirm Password" ng-model="userReg.confirmPassword" required pattern="[[userReg.password]]">
										<i class="fa fa-lock form-control-feedback"></i>
										<div ng-messages="forms.userRegForm.confirmPassword.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.confirmPassword.$touched || forms.userRegForm.$submitted">
											<span ng-message="required">Please enter a value for this field.</span>
											<span ng-message="pattern">Passwords do not match.</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8">
										<div class="checkbox">
											<label>
												<input type="checkbox" name="acceptPolicy" ng-model="userReg.acceptPolicy" required> Accept our <a href="#">privacy policy</a> and <a href="#">customer agreement</a>
												<div ng-messages="forms.userRegForm.acceptPolicy.$error" class="text-danger" role="alert" ng-if="forms.userRegForm.acceptPolicy.$touched || forms.userRegForm.$submitted">
													<span ng-message="required" >The privacy policy and customer agreement must be accepted.</span>
												</div>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8">
										<button type="button" class="btn btn-group btn-dark" data-dismiss="modal" ng-click="resetForm(forms.userRegForm, 'userReg')">Cancel</button>
										<button type="submit" class="btn btn-group btn-default btn-animated">Sign Up <i class="fa fa-check"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- User Registration Modal End -->
			<!-- User Login Modal Start -->
			<div class="modal fade" id="user-login-modal" tabindex="-1" role="dialog" aria-labelledby="user-login-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" ng-click="resetForm(forms.userLoginForm, 'userLogin')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="user-login-modalLabel">Login</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form" name="forms.userLoginForm" novalidate>
								<div class="text-danger text-center" ng-if="userLogin.error">
									<span>Invalid user credentials.</span>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : userLogin.error}">
									<label for="email_username" class="col-sm-3 control-label">Email/Username</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="email_username" id="loginName" placeholder="Email or Username" required ng-model="userLogin.email_username">
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error' : userLogin.error}">
									<label for="password" class="col-sm-3 control-label">Password</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" name="password" id="loginPassword" placeholder="Password" required ng-model="userLogin.password">
										<i class="fa fa-lock form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8">
										<button type="button" class="btn btn-group btn-dark" data-dismiss="modal" ng-click="resetForm(forms.userLoginForm, 'userLogin')">Cancel</button>
										<button type="submit" class="btn btn-group btn-default btn-animated" ng-click="loginUser()" >Login<i class="fa fa-check"></i></button>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8"><a href="#">Forgot your password?</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- User Login Modal End -->
			<!--Coffee Modal -->
			<div class="modal fade" id="coffee_modal" tabindex="-1" role="dialog" aria-labelledby="coffee_modal_label" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 id="coffee_modal_label" class="modal-title">[[coffeeModal.name]] - [[coffeeModal.roast]]</h4>
						</div>
						<div class="modal-body">
							<div class = 'container-fluid'>
								<div class = 'row'>
									<div class="col-xs-8 col-md-5 col-xs-offset-2 col-sm-offset-2 col-md-offset-0 text-center">
										<img ng-src="[[coffeeModal.img_src]]" alt="[[coffeeModal.name]]">
									</div>
									<div class = 'col-xs-12 col-md-7'>
										<p>[[coffeeModal.description]]</p>
										<form class = 'form-horizontal' role = 'form'>
											<div class = 'form-group has-feedback'>
												<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
												<div class = 'col-sm-8'>
													<select class="form-control" ng-options="grind.type for grind in coffeeModal.grinds track by grind.id" ng-model="modalOrder.grind">
													</select>
												</div>
											</div>
											<div class = 'form-group has-feedback'>
												<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
												<div class = 'col-sm-4'> 
												 	<select class="form-control" ng-options="value.qty for value in coffeeModal.pricing track by value.qty" ng-model="modalOrder.qty">
													</select>
												</div>
											</div>
											<div class="form-group text-center">
													<button type="submit" class="btn btn-group btn-default btn-animated" ng-click="broadcastToCart(coffeeModal, modalOrder, coffeeModal.idx)"><span ng-if="!addingProduct">Add To Cart</span><span ng-if="addingProduct">Item Added</span><i class="fa fa-shopping-cart"></i></button>
													<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Coffee Modals -->


			<div id="ngview-div" ng-view=''>

			</div>





			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="text-center">
									<div class="footer-content">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<ul class="social-links circle animated-effect-1">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/Happy-Cup-Coffee-Roasting-124088671039000/?fref=ts"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="https://twitter.com/HappyCupCoffee/"><i class="fa fa-twitter"></i></a></li>
											<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/happy-cup-coffee"><i class="fa fa-linkedin"></i></a></li>
										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-map-marker pr-10 text-default"></i>2850 NE Sandy Blvd. Portland, OR 97232</li>
											<li><i class="fa fa-phone pr-10 text-default"></i>503-238-4604</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2016 Happy Cup Coffee Company. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		
		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>
		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>
		<!-- Pace javascript -->
		<script type="text/javascript" src="plugins/pace/pace.min.js"></script>
		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>
		<!-- Google Maps javascript -->
		<script type="text/javascript" src = "https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=****"></script>
		<script type="text/javascript" src=""></script>
		<!-- Background Video -->
		<script src="plugins/vide/jquery.vide.js"></script>
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
