

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">onlyinyourstate.com named Happy Cup one of the 12 unique shops to visit in Oregon</h1>
				<!-- page-title end -->

				<!-- blogpost start -->
				<!-- ================ -->
				<article class="blogpost full">
					<header>
						<div class="post-info">
							<span class="post-date">
								<i class="icon-calendar"></i>
								<span class="day">21</span>
								<span class="month">January 2016</span>
							</span>
							<!-- <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span> -->
							<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
						</div>
					</header>
					<div class="blogpost-content">
						<img src="images/coffee_croissant.jpg" alt="">
						<br>
						<p>Based in Portland, Happy Cup is a unique cafe and coffee roaster using ethicially traded coffee sourced from all over the world. The humanitarian, community oriented company offers employment to adults with disabilities and donates a percentage of their profits to vocational and recreational programming for the disabled community. Plus, their coffee is delicious! My personal favorite is the Boom Boom dark roast. Read the full article <a href="http://www.onlyinyourstate.com/oregon/coffee-shops-oregon/">here.</p>
					</div>
					<footer class="clearfix">
						<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
						<div class="link pull-right">
							<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
								<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
								<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
								<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
							</ul>
						</div>
					</footer>
				</article>
				<!-- blogpost end -->

				<!-- comments start -->
				<!-- ================ -->
				<div id="comments" class="comments">
					<h2 class="title">There are 3 comments</h2>

					<!-- comment start -->
					<div class="comment clearfix">
						<div class="comment-avatar">
							<img class="img-circle" src="images/avatar.jpg" alt="avatar">
						</div>
						<header>
							<h3>Comment title</h3>
							<div class="comment-meta">By <a href="#">admin</a> | Today, 12:31</div>
						</header>
						<div class="comment-content">
							<div class="comment-body clearfix">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
								<a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
							</div>
						</div>
						
						<!-- comment start -->
						<div class="comment clearfix">
							<div class="comment-avatar">
								<img class="img-circle" src="images/avatar.jpg" alt="avatar">
							</div>
							<header>
								<h3>Comment title</h3>
								<div class="comment-meta">By <a href="#">admin</a> | Today, 12:31</div>
							</header>
							<div class="comment-content">
								<div class="comment-body clearfix">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
									<a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
								</div>
							</div>
						</div>
						<!-- comment end -->

					</div>
					<!-- comment end -->

					<!-- comment start -->
					<div class="comment clearfix">
						<div class="comment-avatar">
							<img class="img-circle" src="images/avatar.jpg" alt="avatar">
						</div>
						<header>
							<h3>Comment title</h3>
							<div class="comment-meta">By <a href="#">admin</a> | Today, 12:31</div>
						</header>
						<div class="comment-content">
							<div class="comment-body clearfix">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
								<a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
							</div>
						</div>
					</div>
					<!-- comment end -->

				</div>
				<!-- comments end -->

				<!-- comments form start -->
				<!-- ================ -->
				<div class="comments-form">
					<h2 class="title">Add your comment</h2>
					<form role="form" id="comment-form">
						<div class="form-group has-feedback">
							<label for="name4">Name</label>
							<input type="text" class="form-control" id="name4" placeholder="" name="name4" required>
							<i class="fa fa-user form-control-feedback"></i>
						</div>
						<div class="form-group has-feedback">
							<label for="subject4">Subject</label>
							<input type="text" class="form-control" id="subject4" placeholder="" name="subject4" required>
							<i class="fa fa-pencil form-control-feedback"></i>
						</div>
						<div class="form-group has-feedback">
							<label for="message4">Message</label>
							<textarea class="form-control" rows="8" id="message4" placeholder="" name="message4" required></textarea>
							<i class="fa fa-envelope-o form-control-feedback"></i>
						</div>
						<input type="submit" value="Submit" class="btn btn-default">
					</form>
				</div>
				<!-- comments form end -->
			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<!-- ================ -->
			<aside class="col-md-4 col-lg-3 col-lg-offset-1">
				<div class="sidebar">
					<div class="block clearfix">
						<h3 class="title">Latest tweets</h3>
						<div class="separator-2"></div>
						<ul class="tweets">
							<li>
								<i class="fa fa-twitter"></i>
								<p><a href="#">@lorem</a> ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, aliquid, et molestias nesciunt <a href="#">http://t.co/dzLEYGeEH9</a>.</p><span>16 hours ago</span>
							</li>
							<li>
								<i class="fa fa-twitter"></i>
								<p><a href="#">@lorem</a> ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, aliquid, et molestias nesciunt <a href="#">http://t.co/dzLEYGeEH9</a>.</p><span>16 hours ago</span>
							</li>
						</ul>
					</div>								
					<div class="block clearfix">
						<h3 class="title">Popular Tags</h3>
						<div class="separator-2"></div>
						<div class="tags-cloud">
							<div class="tag">
								<a href="#">energy</a>
							</div>
							<div class="tag">
								<a href="#">business</a>
							</div>
							<div class="tag">
								<a href="#">food</a>
							</div>
							<div class="tag">
								<a href="#">fashion</a>
							</div>
							<div class="tag">
								<a href="#">finance</a>
							</div>
							<div class="tag">
								<a href="#">culture</a>
							</div>
							<div class="tag">
								<a href="#">health</a>
							</div>
							<div class="tag">
								<a href="#">sports</a>
							</div>
							<div class="tag">
								<a href="#">life style</a>
							</div>
							<div class="tag">
								<a href="#">books</a>
							</div>
							<div class="tag">
								<a href="#">lorem</a>
							</div>
							<div class="tag">
								<a href="#">ipsum</a>
							</div>
							<div class="tag">
								<a href="#">responsive</a>
							</div>
							<div class="tag">
								<a href="#">style</a>
							</div>
							<div class="tag">
								<a href="#">finance</a>
							</div>
							<div class="tag">
								<a href="#">sports</a>
							</div>
							<div class="tag">
								<a href="#">technology</a>
							</div>
							<div class="tag">
								<a href="#">support</a>
							</div>
							<div class="tag">
								<a href="#">life style</a>
							</div>
							<div class="tag">
								<a href="#">books</a>
							</div>
						</div>
					</div>
					<div class="block clearfix">
						<h3 class="title">Latest News</h3>
						<div class="separator-2"></div>
						<div class="media margin-clear">
							<div class="media-left">
								<div class="overlay-container">
									<img class="media-object" src="images/blog-thumb-1.jpg" alt="blog-thumb">
									<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="media-body">
								<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
								<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
							</div>
							<hr>
						</div>
						<div class="media margin-clear">
							<div class="media-left">
								<div class="overlay-container">
									<img class="media-object" src="images/blog-thumb-2.jpg" alt="blog-thumb">
									<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="media-body">
								<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
								<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>
							</div>
							<hr>
						</div>
						<div class="media margin-clear">
							<div class="media-left">
								<div class="overlay-container">
									<img class="media-object" src="images/blog-thumb-3.jpg" alt="blog-thumb">
									<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="media-body">
								<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
								<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
							</div>
							<hr>
						</div>
						<div class="media margin-clear">
							<div class="media-left">
								<div class="overlay-container">
									<img class="media-object" src="images/blog-thumb-4.jpg" alt="blog-thumb">
									<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="media-body">
								<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
								<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
							</div>
						</div>
						<div class="text-right space-top">
							<a href="blog-large-image-right-sidebar.html" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>	
						</div>
					</div>
					<div class="block clearfix">
						<h3 class="title">Text Sample</h3>
						<div class="separator-2"></div>
						<p class="margin-clear">Debitis eaque officia illo impedit ipsa earum <a href="#">cupiditate repellendus</a> corrupti nisi nemo, perspiciatis optio harum, hic laudantium nulla maiores rem sit magni neque nihil sequi temporibus. Laboriosam ipsum reiciendis iste, nobis obcaecati, a autem voluptatum odio? Recusandae officiis dicta quod qui eligendi.</p>
					</div>
					<div class="block clearfix">
						<form role="search">
							<div class="form-group has-feedback">
								<input type="text" class="form-control" placeholder="Search">
								<i class="fa fa-search form-control-feedback"></i>
							</div>
						</form>
					</div>								
				</div>
			</aside>
			<!-- sidebar end -->

		</div>
	</div>
</section>
<!-- main-container end -->
<script type="text/javascript">
	$.getScript('js/template.js');
</script>