
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center pv-20">
				<h1 class="title">Contact Happy Cup</h1>
				
			</div>
		</div>
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8 space-bottom">
				<div class="alert alert-success hidden" id="MessageSent">
					We have received your message, we will contact you very soon.
				</div>
				<div class="alert alert-danger hidden" id="MessageNotSent">
					Oops! Something went wrong, please verify that you are not a robot or refresh the page and try again.
				</div>
				<div class="contact-form">
					<form id="contact-form-with-recaptcha" class="margin-clear" role="form">
						<div class = 'row'>
							<div class="form-group has-feedback">
								<input type="text" class="form-control" id="name" name="name" placeholder="Name">
								<i class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email">
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
						</div>
						<div class = 'row'>
							<div class="form-group has-feedback">
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
								<i class="fa fa-navicon form-control-feedback"></i>
							</div>
						</div>
						<div class = 'row'>
							<div class="form-group has-feedback">
								<textarea class="form-control" rows="6" id="message" name="message" placeholder="Say hello to Happy Cup!"></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class = 'row-centered'>
							<div class="g-recaptcha col-centered" data-sitekey="your_site_key"></div>
							<input type="submit" class="submit-button btn btn-default btn-block">
						</div>
					</form>
				</div>
			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<!-- ================ -->
			<aside class="col-md-3 col-lg-offset-1">
				<div class="sidebar">
					<div class="side vertical-divider-left">
						<h3 class="title">Happy Cup Roaster</h3>
						<p class="small">CALL FOR APPOINTMENT</p>
						
						<ul class="list">
							<li><i class="fa fa-home pr-10"></i>2850 NE Sandy Blvd. <br><span class="pl-20">Portland, OR 97232</span></li>
							<li><i class="fa fa-phone pr-10"></i>503-238-4604</li>
						</ul>
						<!-- <div class="separator-2 mt-20 "></div>
						<a class="btn btn-gray collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Show Map <i class="fa fa-plus"></i></a>
						</div> -->
						<div class="separator-2 mt-20"></div>
						<h3 class="title">Account Questions &amp; Re-orders</h3>

						<ul class="list">
							<li><i class = 'fa fa-user pr-10'></i>Adam Bray</li>
							<li><i class="fa fa-phone pr-10"></i>503-544-7052</li>
							<li><i class = 'fa fa-envelope pr-10'></i><a href="mailto:adamBray@happycup.com">adamBray@happycup.com</a></li>
						</ul>
						<div class="separator-2 mt-20"></div>
						<h3 class="title">Billing &amp; Payments</h3>
						
						<ul class="list">
							<li><i class = 'fa fa-user pr-10'></i>Cheryl Yeats</li>
							<li><i class="fa fa-phone pr-10"></i>971-302-7461</li>
							<li><i class = 'fa fa-envelope pr-10'></i><a href="mailto:cherylyeats@happycup.com">cherylyeats@happycup.com</a></li>
						</ul>
						<div class="separator-2 mt-20"></div>
						<ul class = 'list'>
							<li><i class = 'fa fa-camera pr-10'></i><a href="./images/HC_Media-Kit.pdf">Media Kit</li>
						</ul>
				</div>
			</aside>
			<!-- sidebar end -->
		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<!-- <section id="collapseMap">
	<div id="map-canvas"></div>
</section> -->

<!-- main-container end -->
<script type="text/javascript">
	$.getScript('js/template.js');
	$.getScript('https://www.google.com/recaptcha/api.js');
</script>