
<!-- main-container start -->
<!-- <div id="collapseMap" class="banner"> -->
	<!-- google map start -->
	<!-- ================ -->
	<!-- <div id="map-canvas"></div> -->
	<!-- google maps end -->
<!-- </div> -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">City Hall Cafe</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				<p>Visit a Happy Cup cafe to experience our mission and enjoy quality cup of coffee.  Each cafe offers unique roasts as well as a full breakfast and lunch menu.</p>
				<div class="block clearfix">
					<div class="separator-2"></div>
					<ul class="list">
						<li><i class="fa fa-coffee pr-10"></i><a href="https://www.google.com/maps/place/1221+SW+4th+Ave,+Portland,+OR+97204/@45.5150101,-122.6812806,17z/data=!3m1!4b1!4m5!3m4!1s0x54950a103ca7651d:0x1cd1940dc09594fb!8m2!3d45.5150101!4d-122.6790919" target="_blank">1221 SW 4th Ave. Portland, OR 97204</a></li>
						<li><i class="fa fa-clock-o pr-10"></i>Open M-F 7:30 a.m. – 4:00 p.m.</li>
						<li><i class="fa fa-phone pr-10"></i> 503-208-2239</li>
					</ul>
					<!-- <a class="btn btn-gray collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Show Map <i class="fa fa-plus"></i></a> -->
					<a href="./images/catering-form2016.pdf" title="">CATERING IS AVAILABLE! (Menu)</a>
				</div>
				
			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<!-- ================ -->
			<aside class="col-md-4 col-lg-3 col-lg-offset-1">
				<div class="sidebar">
					<img src="images/happy_cup_portland_cityhall.jpg" alt="City Hall Cafe">
				</div>
			</aside>
			<!-- sidebar end -->

		</div>
	</div>
</section>
<!-- main-container end -->
<script type="text/javascript">
	$.getScript('js/template.js');
	$.getScript('js/google.map.config.js');
</script>