

<div ng-controller = 'shop_controller'>
	<!-- Full Screen Banner Images -->
	<section class="full-width-section">
			<div class="full-image-container light-gray-bg">
				<img class="to-right-block" src="resources/images/Banners/HC_bean_circulation.jpg" alt="Coffee Beans Circulating">
				<div class="full-image-overlay text-center">
					<h1 style = "color:white; font-size: 5em;">Roasted By People With Potential</h1>
				</div>
			</div>
			<div class="full-text-container light-gray-bg border-bottom-clear">
				<h2>Our Company</h2>
				<div class="separator-2 visible-lg"></div>
				<p style = 'font-size:125%;'>We offer employment, a competitive wage and a full life to adults with disabilities in our local community – our People with Potential. Our company helps create a better future for the disabled by donating a percentage of our profits to vocational and recreational programming to them. We strive to do all of this while continuing to deliver a responsible, great-tasting cup of coffee!</p>
				<div class="separator-3 visible-lg"></div>
			</div>
	</section>

	<section class="full-width-section">
		<div class="full-text-container left light-gray-bg border-bottom-clear text-right">
			<h2>Our Mission</h2>
			<div class="separator-2 visible-lg"></div>
			<p style = 'font-size:125%;'> Our mission goes beyond the borders of our community. We also promote a better future for farmers and for our planet by making every effort to source the best, ethicially traded coffee, using some of the best beans grown anywhere on the planet.
			<br>
			<br> Happy Cup Coffee is ethically farmed and traded from coffee growing regions throughout the world. It is batch roasted 18 lbs at a time, to ensure the highest quality flavor, and a well-balanced cup.</p>
			<div class="separator-3 visible-lg"></div>
		</div>
		<div class="full-image-container light-gray-bg">
			<img src="resources/images/Banners/HC_packaging.jpg" alt="Employees packaging beans">
			<div class="full-image-overlay text-center">
				<h1 style = "color:white; font-size: 5em;">Creating a better future for the folks 6 blocks away, and 6,000 miles away.</h1>
			</div>
		</div>
	</section>
	<!-- section end -->

	<div id="page-start"></div>

	<!-- section start SHOP START-->
	<!-- ================ -->
	<section class="section light-gray-bg clearfix">
		<div class="container-fluid">

			<!-- Nav tabs -->
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills" role="tablist">
						<li ng-class="{active: productDisplay.showCoffee === true}"><a ng-click = 'showCoffee()' title="Current Coffee"> <span class = 'tab_text'>Current Roasts</span></a></li>
						<li ng-class="{active: productDisplay.showMerch === true}"><a ng-click = 'showMerch()' title="Merchandise"><span class = 'tab_text'>Merchandise</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Nav Tab End -->

			<!-- Coffee -->

			<!-- First Row -->
			<div class = 'row row-centered'>
				
					<!-- The Buzz -->
					<div style = 'margin-right: 3%' class="col-md-5 col-sm-8 col-centered product_background">
						<div class="overlay-container col-sm-3">
							<img src="resources/images/products/the_buzz.png" alt="The Buzz Blend">
							<a class="overlay-link" data-toggle = 'modal' data-target = '#buzz_modal'><i class = 'glyphicon-plus'></i></a>
						</div>
						<div class = 'col-sm-7'>
							<h3>The Buzz <span class = 'small'> &nbsp Medium Roast</span></h3>
							<p class = 'small'>12 oz</p>
							<div class="elements-list clearfix">
								<span class="price">$12.99</span>
								<a href="#" class="margin-clear btn btn-group btn-default btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!-- Boom Boom -->
					<div class="col-md-5 col-sm-8 col-centered product_background">
						<div class="overlay-container col-sm-3">
							<img src="resources/images/products/boomboom.png" alt="Boom Boom Coffee Bag">
							<a class="overlay-link" data-toggle = 'modal' data-target = '#boomboom_modal'><i class = 'glyphicon-plus'></i></a>
						</div>
						<div class = 'col-sm-7'>
							<h3>Boom! Boom! <span class = 'small'> &nbsp Dark Roast</span></h3>
							<p class = 'small'>12 oz </p>
							<div class="elements-list clearfix">
								<span class="price">$12.99</span>
								<a href="#" class="margin-clear btn btn-group btn-default btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				
			</div>
			<!-- Row End -->
			<!-- Second Row -->
			<div class = 'row row-centered'>

				<!-- Morning Madness -->
				<div style = 'margin-right: 3%' class="col-md-5 col-sm-8 col-centered product_background">
					<div class="overlay-container col-sm-3">
						<img src="resources/images/products/morning_madness.png" alt="Morning Madness Espresso Roast">
						<a class="overlay-link" data-toggle = 'modal' data-target = '#morningMadness_modal'><i class = 'glyphicon-plus'></i></a>
					</div>
					<div class = 'col-sm-7'>
						<h3>Morning Madness <span class = 'small'> &nbsp Espresso Roast</span></h3>
						<p class = 'small'>12 oz </p>
						<div class="elements-list clearfix">
							<span class="price">$12.99</span>
							<a href="#" class="margin-clear btn btn-group btn-default btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>

				<!-- Decaffeination -->
				<div class="col-md-5 col-sm-8 col-centered product_background">
					<div class="overlay-container col-sm-3">
						<img src="resources/images/products/decaf.png" alt="Decaffeination Blend">
						<a class="overlay-link" data-toggle = 'modal' data-target = '#decaffeination_modal'><i class = 'glyphicon-plus'></i></a>
					</div>
					<div class = 'col-sm-7'>
						<h3><a href="shop-product.html">Decaffeination <span class = 'small'> &nbsp Decaf</span></a></h3>
						<p class = 'small'>12 oz </p>
						<div class="elements-list clearfix">
							<span class="price">$12.99</span>
							<a href="#" class="margin-clear btn btn-group btn-default btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>

			</div>
			<!-- Row End -->
			<!-- Third Row -->
			<div class = 'row row-centered'>

				<!-- Happy Heart -->
				<div style = 'margin-right: 3%' class="col-md-5 col-sm-8 col-centered product_background">
					<div class="overlay-container col-sm-3">
						<img src="resources/images/products/happy_heart.png" alt="Happy Heart">
						<a class="overlay-link" data-toggle = 'modal' data-target = '#happy_heart_modal'><i class = 'glyphicon-plus'></i></a>
					</div>
					<div class = 'col-sm-7'>
						<h3>Happy Heart <span class = 'small'> &nbsp Single Origin - Ethiopia</span></h3>
						<p class = 'small'>12 oz </p>
						<div class="elements-list clearfix">
							<span class="price">$12.99</span>
							<a href="#" class="margin-clear btn btn-group btn-default btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>

				<!-- Pondok Baru -->
				<div class="col-md-5 col-sm-8 col-centered product_background">
					<div class="overlay-container col-sm-3">
						<img src="resources/images/products/pondok_baru.png" alt="Pondok Baru">
						<a class="overlay-link" data-toggle = 'modal' data-target = '#pondok_baru_modal'><i class = 'glyphicon-plus'></i></a>
					</div>
					<div class = 'col-sm-7'>
						<h3>Pondok Baru <span class = 'small'> &nbsp Single Origin - Sumatra</span></h3>
						<p class = 'small'>12 oz </p>
						<div class="elements-list clearfix">
							<span class="price">$12.99</span>
							<a href="#" class="margin-clear btn btn-group btn-default btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>

			</div>
			<!-- Row End -->
			<!-- Coffee End -->

			<!--Coffee Modals -->

			<!-- The Buzz Modal -->
			<div class="modal fade" id="buzz_modal" tabindex="-1" role="dialog" aria-labelledby="buzz_modal_label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						</div>
						<div class="modal-body">
							<div class = 'container-fluid'>
								<div class = 'row'>
									<div class="col-md-5 text-center">
										<img src="resources/images/products/the_buzz.png" alt="The Buzz Blend">
									</div>
									<div class = 'col-md-7'>
										<h3>The Buzz Medium Roast</h3>
										<p>A sweet coffee with notes of ripe blueberries and rich dark chocolate. Pleasantly complex with a smooth silky body and a clean brisk finish.</p>
										<form class = 'form-horizontal' role = 'form'>
											<div class = 'form-group has-feedback'>
												<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
												<div class = 'col-sm-8'>  
													<select class="form-control">
														<option value = 'Whole Bean'>Whole Bean </option>
														<option value = 'Espresso'>Espresso </option>
														<option value = 'Cone Drip Filter'>Cone Drip Filter </option>
														<option value = 'Flat Bottom Drip Filter'>Flat Bottom Drip Filter </option>
														<option value = 'Chemex'>Chemex </option>
														<option value = 'French Press'>French Press </option>
													</select>
												</div>
											</div>
											<div class = 'form-group has-feedback'>
												<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
												<div class = 'col-sm-4'> 
												 	<select class="form-control">
														<option value = '12oz'> 12 oz </option>
														<option value = '2lbs'> 2 lbs </option>
														<option value = '5lbs'> 5 lbs </option>
													</select>
												</div>
											</div>
											<div class="form-group text-center">
													<button type="submit" class="btn btn-group btn-default btn-animated">Add to cart<i class="fa fa-shopping-cart"></i></button>
													<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Boom Boom Modal -->
			<div class="modal fade" id="boomboom_modal" tabindex="-1" role="dialog" aria-labelledby="boomboom_modal_label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						</div>
						<div class="modal-body">
							<div class = 'container-fluid'>
								<div class = 'row'>
									<div class="col-md-5 text-center">
										<img src="resources/images/products/boomboom.png" alt="Boom Boom Coffee Bag">
									</div>
									<div class = 'col-md-7'>
										<h3>Boom! Boom! Dark Roast</h3>
										<p>The rich, nutty, smoky, bold flavors of our Dark Roast are a classic blend for the dark coffee enthusiast.</p>
										<form class = 'form-horizontal' role = 'form'>
											<div class = 'form-group has-feedback'>
												<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
												<div class = 'col-sm-8'>  
													<select class="form-control">
														<option value = 'Whole Bean'>Whole Bean </option>
														<option value = 'Espresso'>Espresso </option>
														<option value = 'Cone Drip Filter'>Cone Drip Filter </option>
														<option value = 'Flat Bottom Drip Filter'>Flat Bottom Drip Filter </option>
														<option value = 'Chemex'>Chemex </option>
														<option value = 'French Press'>French Press </option>
													</select>
												</div>
											</div>
											<div class = 'form-group has-feedback'>
												<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
												<div class = 'col-sm-4'> 
												 	<select class="form-control">
														<option value = '12oz'> 12 oz </option>
														<option value = '2lbs'> 2 lbs </option>
														<option value = '5lbs'> 5 lbs </option>
													</select>
												</div>
											</div>
											<div class="form-group text-center">
													<button type="submit" class="btn btn-group btn-default btn-animated">Add to cart<i class="fa fa-shopping-cart"></i></button>
													<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Morning Madness Modal -->
			<div class="modal fade" id="morningMadness_modal" tabindex="-1" role="dialog" aria-labelledby="morningMadness_modal_label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						</div>
						<div class="modal-body">
							<div class = 'container-fluid'>
								<div class = 'row'>
									<div class="col-md-5 text-center">
										<img src="resources/images/products/morning_madness.png" alt="Morning Madness Espresso Roast">
									</div>
									<div class = 'col-md-7'>
										<h3>Morning Madness Espresso Roast</h3>
										<p>A blend of Organic, Rainforest Alliance and Direct Trade coffees that combine to produce a smooth and luxurious coffee. Rich chocolate and a hint of roasted nuts lead by a touch of clean citrus.</p>
										<form class = 'form-horizontal' role = 'form'>
											<div class = 'form-group has-feedback'>
												<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
												<div class = 'col-sm-8'>  
													<select class="form-control">
														<option value = 'Whole Bean'>Whole Bean </option>
														<option value = 'Espresso'>Espresso </option>
														<option value = 'Cone Drip Filter'>Cone Drip Filter </option>
														<option value = 'Flat Bottom Drip Filter'>Flat Bottom Drip Filter </option>
														<option value = 'Chemex'>Chemex </option>
														<option value = 'French Press'>French Press </option>
													</select>
												</div>
											</div>
											<div class = 'form-group has-feedback'>
												<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
												<div class = 'col-sm-4'> 
												 	<select class="form-control">
														<option value = '12oz'> 12 oz </option>
														<option value = '2lbs'> 2 lbs </option>
														<option value = '5lbs'> 5 lbs </option>
													</select>
												</div>
											</div>
											<div class="form-group text-center">
													<button type="submit" class="btn btn-group btn-default btn-animated">Add to cart<i class="fa fa-shopping-cart"></i></button>
													<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Decaffeination Modal-->
			<div class="modal fade" id="decaffeination_modal" tabindex="-1" role="dialog" aria-labelledby="decaffeination_modal_label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						</div>
						<div class="modal-body">
							<div class = 'container-fluid'>
								<div class = 'row'>
									<div class="col-md-5 text-center">
										<img src="resources/images/products/decaf.png" alt="Decaffeination Blend">
									</div>
									<div class = 'col-md-7'>
										<h3>Decaffeination</h3>
										<p>Crisp and sweet with hints of bakers chocolate and roasted nuts. A well balanced taste, not your typical decaf.</p>
										<form class = 'form-horizontal' role = 'form'>
											<div class = 'form-group has-feedback'>
												<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
												<div class = 'col-sm-8'>  
													<select class="form-control">
														<option value = 'Whole Bean'>Whole Bean </option>
														<option value = 'Espresso'>Espresso </option>
														<option value = 'Cone Drip Filter'>Cone Drip Filter </option>
														<option value = 'Flat Bottom Drip Filter'>Flat Bottom Drip Filter </option>
														<option value = 'Chemex'>Chemex </option>
														<option value = 'French Press'>French Press </option>
													</select>
												</div>
											</div>
											<div class = 'form-group has-feedback'>
												<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
												<div class = 'col-sm-4'> 
												 	<select class="form-control">
														<option value = '12oz'> 12 oz </option>
														<option value = '2lbs'> 2 lbs </option>
														<option value = '5lbs'> 5 lbs </option>
													</select>
												</div>
											</div>
											<div class="form-group text-center">
													<button type="submit" class="btn btn-group btn-default btn-animated">Add to cart<i class="fa fa-shopping-cart"></i></button>
													<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Happy Heart Modal -->
				<div class="modal fade" id="happy_heart_modal" tabindex="-1" role="dialog" aria-labelledby="happy_heart_modal_label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							</div>
							<div class="modal-body">
								<div class = 'container-fluid'>
									<div class = 'row'>
										<div class="col-md-5 text-center">
											<img src="resources/images/products/happy_heart.jpg" alt="Happy Heart">
										</div>
										<div class = 'col-md-7'>
											<h3>Happy Heart</h3>
											<p>Kossa Geshe is a vibrant Ethiopian natural from a single farm in the Limmu Kossa District near the Kebena Forest. A fruit-forward, creamy, full-bodied coffee. Honey-sweetness and juicy berries give way to a floral, tea-like finish.</p>
											<form class = 'form-horizontal' role = 'form'>
												<div class = 'form-group has-feedback'>
													<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
													<div class = 'col-sm-8'>  
														<select class="form-control">
															<option value = 'Whole Bean'>Whole Bean </option>
															<option value = 'Espresso'>Espresso </option>
															<option value = 'Cone Drip Filter'>Cone Drip Filter </option>
															<option value = 'Flat Bottom Drip Filter'>Flat Bottom Drip Filter </option>
															<option value = 'Chemex'>Chemex </option>
															<option value = 'French Press'>French Press </option>
														</select>
													</div>
												</div>
												<div class = 'form-group has-feedback'>
													<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
													<div class = 'col-sm-4'> 
													 	<select class="form-control">
															<option value = '12oz'> 12 oz </option>
															<option value = '2lbs'> 2 lbs </option>
															<option value = '5lbs'> 5 lbs </option>
														</select>
													</div>
												</div>
												<div class="form-group text-center">
														<button type="submit" class="btn btn-group btn-default btn-animated">Add to cart<i class="fa fa-shopping-cart"></i></button>
														<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Pondok Baru Modal-->
				<div class="modal fade" id="pondok_baru_modal" tabindex="-1" role="dialog" aria-labelledby="pondok_baru_modal_label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							</div>
							<div class="modal-body">
								<div class = 'container-fluid'>
									<div class = 'row'>
										<div class="col-md-5 text-center">
											<img src="resources/images/products/pondok_baru.png" alt="Pondok Baru">
										</div>
										<div class = 'col-md-7'>
											<h3>Pondok Baru</h3>
											<p>Produced in the Aceh district of northern Sumatra by a group of 80 farming families. Full bodied with a syrupy mouthfeel. Strong, rich, and earthy, with a hint of bakers chocolate.</p>
											<form class = 'form-horizontal' role = 'form'>
												<div class = 'form-group has-feedback'>
													<label for = 'grind' class = 'col-sm-2 control-label'>Grind:</label>
													<div class = 'col-sm-8'>  
														<select class="form-control">
															<option value = 'Whole Bean'>Whole Bean </option>
															<option value = 'Espresso'>Espresso </option>
															<option value = 'Cone Drip Filter'>Cone Drip Filter </option>
															<option value = 'Flat Bottom Drip Filter'>Flat Bottom Drip Filter </option>
															<option value = 'Chemex'>Chemex </option>
															<option value = 'French Press'>French Press </option>
														</select>
													</div>
												</div>
												<div class = 'form-group has-feedback'>
													<label for ='size' class = 'col-sm-2 control-label'> Size:</label>
													<div class = 'col-sm-4'> 
													 	<select class="form-control">
															<option value = '12oz'> 12 oz </option>
															<option value = '2lbs'> 2 lbs </option>
															<option value = '5lbs'> 5 lbs </option>
														</select>
													</div>
												</div>
												<div class="form-group text-center">
														<button type="submit" class="btn btn-group btn-default btn-animated">Add to cart<i class="fa fa-shopping-cart"></i></button>
														<button type="button" class="btn btn-group btn-dark" data-dismiss="modal">Cancel</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- End Coffee Modals -->
		</div>
		<!-- Container End -->

	</section>
	<!-- section end -->
</div>
<script type="text/javascript">
	$.getScript('js/template.js');
</script>
<script type="text/javascript">
	$('#three_cup_gift_options').on('click', function(e) {
		console.log('test')
	e.stopPropagation();
	});
</script>