<div ng-controller = 'locations_controller'>
			<!-- main-container start -->
			<div id="collapseMap" class="banner">
				<!-- google map start -->
				<!-- ================ -->
				<!-- <div id="map-canvas"></div> -->
				<!-- google maps end -->
			</div>
			<section class="main-container">

				<div class="container">
					<div class="row" id="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Where to Buy</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<p>Happy Cup can be purchased <a href="#/">online</a> and at our Coffee Shop: Portland City Hall – 1221 SW 4th, Portland, OR 97204, Sandy Blvd.</p>

							<!-- <div class="block clearfix"> -->
								<div ng-repeat = "(type, location) in locations | groupBy: 'type'">
									<v-accordion allow-multiple control="accordionControl" class="vAccordion--default" id = "MyAccordion" >
										<v-pane>
											<v-pane-header>
												<h4>[[type]]</h4>
											</v-pane-header>

											<v-pane-content>
												<div class = "row" ng-repeat = "x in location">
													<p class="col-md-9 col-xs-6 col-sm-8"><a class = "scrollToMap" role = "button" ng-click="updateMap([[x.address]])"><i class="fa fa-coffee pr-10"></i></a> [[x.address]]</p>
													<p class="col-md-3 col-xs-6 col-sm-4"><i class="fa fa-phone pr-10"></i> [[x.number]]</p>
												</div>
											</v-pane-content>
										</v-pane>
									</v-accordion>
								</div>
							<!-- </div> -->
							<a href="./images/catering-form2016.pdf" title="">CATERING IS AVAILABLE! (Menu)</a>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<div class="col-md-1 col-md-4 col-lg-3 col-lg-offset-1" style="">
							<div id="map-canvas"></div>

						</div>
						<!-- sidebar end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
		
</div>
<script type="text/javascript">
	$.getScript('js/template.js');
</script>

<script type="text/javascript">
// function checkOffset() {
// 	if($('#map-canvas').offset().top + $('#map-canvas').height() >= $('#footer').offset().top)
// 		$('#map-canvas').css('position', 'absolute');
// 	if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top)
// 		$('#map-canvas').css('position', 'fixed'); // restore when you scroll up
// }
// $(document).ready(function(){
// 	checkOffset();
// });
// $(document).scroll(function() {
// 	checkOffset();
// });

// function checkOffset() {
// 	var a=$(document).scrollTop()+window.innerHeight;
// 	var b=$('#footer').offset().top;
// 	if (a<(b-100)) {
// 		$('#map-canvas').css('bottom', '10px');
// 	} else {
// 		$('#map-canvas').css('bottom', (10+(a-b))+'px');
// 	}
// }
// $(document).ready(checkOffset);
// $(document).scroll(checkOffset);

</script>

<style type="text/css">
#map-canvas {
  position: fixed;
  width: 300px;
  text-align: center;
  background-color: #fff;
}

</style>
