
<!-- main-container start -->
<section class="main-container">

	<div class="container" ng-controller="cart_controller">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Shopping Cart <span class="animate-show pull-right" ng-if="cartSaved">[[cartSaved]]</span></h1>
				<div class="separator-2"></div>
				<!-- page-title end -->

				<table class="table cart table-hover table-colored">
					<thead>
						<tr>
							<th>Product </th>
							<th>Price </th>
							<th>Quantity</th>
							<th>Remove </th>
							<th class="amount">Total </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="coffee in currentCart.coffee track by $index">
							<td class="product">[[coffee.name]] ([[coffee.size.qty]])<small>[[coffee.roast]] - [[coffee.grind.type]]</small></td>
							<td class="price">$[[coffee.size.price | number : 2]]</td>
							<td class="quantity">
								<div class="form-group">
									<input type="number" class="form-control" ng-model="coffee.qty" ng-change="coffee.subtotal = coffee.size.price * coffee.qty; currentCart.countTotals(); currentCart.edited=true;" min="0">
								</div>											
							</td>
							<td class="remove"><button class="btn btn-default" ng-show="coffee.qty" ng-click="coffee.qty = 0; removeProduct($index, 'coffee');">Remove</button></td>
							<td class="amount">$[[coffee.subtotal | number: 2]]</td>
						</tr>
						<tr>
							<td colspan="3">Discount Coupon</td>
							<td colspan="2">
								<div class="form-group">
									<input type="text" class="form-control">
								</div>											
							</td>
						</tr>
						<tr>
							<td class="total-quantity" colspan="4">Total [[currentCart.totalItems]] Items</td>
							<td class="total-amount">$[[currentCart.totalPrice | number : 2]]</td>
						</tr>
					</tbody>
				</table>
				<div class="text-right">	
					<button class="btn btn-group btn-default" ng-show="currentCart.edited" ng-click="updateCart()" move-to-top>Update Cart</button>
					<a href="#/cart/checkout" move-to-top class="btn btn-group btn-default" ng-hide="currentCart.edited">Checkout</a>
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<script type="text/javascript">
	$.getScript('js/template.js');
</script>





<!-- main-container end -->
